body {
    margin: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}

.logo{
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    z-index: 2
    ;background-image: url(https://app.spline.design/_assets/_icons/icon_favicon32x32.png);
    background-size: cover;
}

.logo:hover {
    opacity: 0.8;
}
  